wo-amount {
    margin-left: 20px;
}

.wo-amount {
    text-align: right;
}

.wo-a-list {
    padding-left: 0px;
}

.wo-a-line {
    display: flex;
    justify-content: space-between;
}


  
.account-list {
    background: lightblue;
    padding-left: 10px;
    padding-right: 10px;
}
    

.entry-list {
    background: #EEE;
    padding-left: 10px;
    padding-right: 10px;
}


summary {
    font-size: 20px;
}


.wo-budget-group {
#    background: lightblue;
    font-weight: bold;
}
xo




wo-uncleared {
    color: lightgrey;
}

wo-cleared {
    color: lightgreen;
    font-weight: bold;
}

wo-pendng {
    color: orange;
}

wo-unknown-status  {
    background-color: red;
}

    
