wo-amount {
    margin-left: 20px;
}

.wo-amount {
    text-align: right;
}

.wo-status {
    text-align: center;
    cursor: default;
}

	       
.wo-a-list {
    padding-left: 0px;
}


.wo-a-line {
    display: flex;
    justify-content: space-between;
}

  
.account-list {
    background: lightblue;
    padding-left: 10px;
    padding-right: 10px;
}
    

.entry-list {
    background: #EEE;
    padding-left: 10px;
    padding-right: 10px;
}


summary {
    font-size: 20px;
}


.wo-budget-group {
/*        background: lightblue; */
    font-weight: bold;
}





wo-uncleared {
    color: lightgrey;
}

wo-cleared {
    color: lightgreen;
    font-weight: bold;
}

wo-pending {
    color: orange;
}

wo-uncleared:hover {
    color: lightgreen;
}

wo-pending:hover {
    color: lightgreen;
}

wo-unknown-status  {
    color: lightgreen;
}

    


al-table {
    display: table;
}

al-table-header {
    display: table-row;
}

al-table-row {
    display: table-row;
}

al-cell {
    display: table-cell;
    padding: 5px;
}

al-table-header al-cell {
    font-weight: bold;
}
